<h1> <i>Folder:</i> Textures</h1>
<a href="Basic.java">Basic.java</a><br/>
<a href="InputInfo.java">InputInfo.java</a><br/>
<a href="TryTextures2.java">TryTextures2.java</a><br/>
<a href="Util.java">Util.java</a><br/>
<a href="Shader.java">Shader.java</a><br/>
<a href="Pictures">Pictures</a><br/>
<a href="Pic.java">Pic.java</a><br/>
<a href="Program.java">Program.java</a><br/>
<a href="Clipper.java">Clipper.java</a><br/>
<a href="j">j</a><br/>
<a href="Convert.java">Convert.java</a><br/>
<a href="TryTextures.java">TryTextures.java</a><br/>
<a href="Ex11.java">Ex11.java</a><br/>
