<h1> <i>Folder:</i> Version2</h1>
<a href="Basic.java">Basic.java</a><br/>
<a href="InputInfo.java">InputInfo.java</a><br/>
<a href="LM2.vert">LM2.vert</a><br/>
<a href="Material.java">Material.java</a><br/>
<a href="Util.java">Util.java</a><br/>
<a href="clownEmi.mat">clownEmi.mat</a><br/>
<a href="Shader.java">Shader.java</a><br/>
<a href="Version2.java">Version2.java</a><br/>
<a href="litScene2">litScene2</a><br/>
<a href="standard.mat">standard.mat</a><br/>
<a href="Thing.java">Thing.java</a><br/>
<a href="Vertex.java">Vertex.java</a><br/>
<a href="Triangle.java">Triangle.java</a><br/>
<a href="clownAmbi.mat">clownAmbi.mat</a><br/>
<a href="Light.java">Light.java</a><br/>
<a href="clownShini.mat">clownShini.mat</a><br/>
<a href="notes">notes</a><br/>
<a href="clownSpec.mat">clownSpec.mat</a><br/>
<a href="Vec4.java">Vec4.java</a><br/>
<a href="LM2.frag">LM2.frag</a><br/>
<a href="TriSoup.java">TriSoup.java</a><br/>
<a href="Mat4.java">Mat4.java</a><br/>
<a href="Program.java">Program.java</a><br/>
<a href="wallTest">wallTest</a><br/>
<a href="clownDiff.mat">clownDiff.mat</a><br/>
<a href="test.mat">test.mat</a><br/>
