<h1> <i>Folder:</i> RayTracing</h1>
<a href="Basic.java">Basic.java</a><br/>
<a href="debug.mat">debug.mat</a><br/>
<a href="InputInfo.java">InputInfo.java</a><br/>
<a href="scene1">scene1</a><br/>
<a href="Material.java">Material.java</a><br/>
<a href="Util.java">Util.java</a><br/>
<a href="rayTracer.vert">rayTracer.vert</a><br/>
<a href="RayTracer.java">RayTracer.java</a><br/>
<a href="Shader.java">Shader.java</a><br/>
<a href="standard.mat">standard.mat</a><br/>
<a href="junk">junk</a><br/>
<a href="Light.java">Light.java</a><br/>
<a href="rayTracer.frag">rayTracer.frag</a><br/>
<a href="scene3">scene3</a><br/>
<a href="scene2">scene2</a><br/>
<a href="notes">notes</a><br/>
<a href="Vec4.java">Vec4.java</a><br/>
<a href="Sphere.java">Sphere.java</a><br/>
<a href="Program.java">Program.java</a><br/>
<a href="Triple.java">Triple.java</a><br/>
<a href="Camera.java">Camera.java</a><br/>
